.scrollToTop {
  position: fixed;
  z-index: $t-layer-level-positive-8;
  right: $t-spacing-8;
  bottom: $t-spacing-8;

  animation: fade-in 0.3s ease-out;
}

.button {
  border: 2px solid rgba($t-colors-border-default, 0.9) !important;

  color: $t-colors-primary-default !important;

  background-color: rgba($t-colors-background-primary, 0.3) !important;
  backdrop-filter: blur(8px);

  transition: all 0.2s ease-in-out !important;

  &:hover {
    transform: translateY(-4px);
    border-color: transparent !important;
    background-color: $t-colors-primary-default !important;
  }
}

@keyframes fade-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
