@use "variables.scss" as *;
@use "mixins" as *;

.skeleton-page {
  min-height: 100vh;
}

.blogs {
  padding: $t-spacing-8 0 $t-spacing-20;
  background-color: $t-colors-background-secondary;

  &__header {
    margin-bottom: $t-spacing-8;
    text-align: center;
  }

  &__search-container {
    display: flex;
    flex-wrap: wrap;
    gap: $t-spacing-4;
    align-items: center;
    justify-content: space-between;

    margin-bottom: $t-spacing-8;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $t-spacing-8;
    margin-top: $t-spacing-12;

    @media (min-width: $t-breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $t-breakpoint-desktop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    height: 100%;
    border-radius: $t-spacing-4;

    background: $t-colors-background-secondary;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    gap: $t-spacing-3;
    padding: $t-spacing-6;
  }
}
