@use "../../styles/_tokens.generated.scss" as *;

.project-card {
  border-radius: $radii-md !important;
  border-color: $colors-border !important;
  background: $colors-surface;
  height: 100%;

  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column; // mobile: stacked
    gap: $spacing-md;
    flex: 1;
  }

  /* LEFT COLUMN */
  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
  }

  &__name {
    font-family: $typography-fonts-headline;
    font-size: $typography-sizes-h4;
  }

  &__description {
    font-size: $typography-sizes-body;
    margin-top: $spacing-xs;
  }

  /* TAG ROW */
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    margin-top: $spacing-sm;
  }

  &__tag {
    font-size: $typography-sizes-small !important;
  }

  /* LINKS ROW */
  &__links {
    display: flex;
    gap: $spacing-sm;
    margin-top: $spacing-sm;
    height: $spacing-xl;
  }

  &__button {
    font-size: $typography-sizes-small !important;
  }

  /* RIGHT COLUMN: IMAGE */
  &__image-wrapper {
    margin-top: $spacing-sm;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: $radii-md;
    object-fit: cover;
    flex: 1;
    display: block;
  }

  @media (min-width: $breakpoints-md) {
    &__content {
      flex-direction: row; // desktop: row
      align-items: stretch;
      gap: $spacing-sm; // this is the spacing you're subtracting
    }

    /* 60% / 40% layout with gap ($spacing-sm) subtracted */
    &__info {
      flex: 0 0 calc((100% - #{$spacing-sm}) * 0.6);
    }

    &__image-wrapper {
      flex: 0 0 calc((100% - #{$spacing-sm}) * 0.4);
      margin-top: 0;
    }

    &__description {
      display: block;
    }
  }
}
