@use "variables.scss" as *;
@use "mixins" as *;


.project {
  &__visual {
    position: relative;

    width: 100%;
    height: 100%;

    background-position: top center;
    background-size: cover;
  }

  &__visual-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, $t-colors-surface-page-fade, transparent);
  }

  &__title {
    margin-bottom: $t-spacing-2;

    font-size: 1.5rem;
    font-weight: $t-font-weight-bold;
    color: $t-colors-text-primary;
    letter-spacing: -0.025em;
  }

  &__description {
    font-size: $t-font-size-sm;
    line-height: $t-font-line-height-relaxed;
    color: $t-colors-text-secondary;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: $t-spacing-2;
    padding-top: $t-spacing-2;
  }

  &__tag {
    display: flex;
    align-items: center;
    justify-content: center;

    height: $t-spacing-8;
    padding: 0 $t-spacing-4;
    border: 1px solid $t-colors-border-primary;
    border-radius: 9999px;

    background-color: $t-colors-surface-brand-strong;
    
    span {
      font-size: $t-font-size-xs;
      font-weight: $t-font-weight-bold;
      color: $t-colors-primary-default;
    }
  }

  &__cta-button {
    width: 100%;
    height: 48px;
    margin-top: $t-spacing-4;
    border-radius: 9999px; // rounded-full
  }
}
