@use "../../styles/_tokens.generated.scss" as *;

.experience {
  background: $colors-bg;
  color: $colors-text;

  &__inner {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
