@use "../../styles/_tokens.generated.scss" as *;

.contact {
  &__row {
    display: flex;
    gap: $spacing-md;
    @media (max-width: $breakpoints-md) {
      flex-direction: column;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    justify-content: center;
    height: 100%;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }
  &__actions{
    margin-bottom: $spacing-md;
  }
  &__info{
    text-align: center;
  }
}
