@use "../../styles/_tokens.generated.scss" as *;

.experience-card {
  border-radius: $radii-md !important;
  border-color: $colors-border !important;
  background: $colors-surface;
  height: 100%;
  display:flex; flex-direction:column;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    flex:1;
  }

  /* New: layout wrapper */
  &__body {
    display: flex;
    flex-direction: column; /* mobile */
    gap: $spacing-md;
    flex: 1;
    min-height: 250px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    flex: 1;
  }

  &__role {
    font-family: $typography-fonts-headline;
    font-size: $typography-sizes-h4;
  }

  &__company {
    font-size: $typography-sizes-body;
    font-weight: $typography-weights-semibold;
    color: $colors-primary;
  }

  &__period,
  &__location {
    font-size: $typography-sizes-small;
    opacity: 0.8;
  }

  &__description-list {
    
    font-size: $typography-sizes-body;
    list-style: auto;
    padding-inline-start: $spacing-md;
    margin: 0;
  }

  &__right {
    flex: 2;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    margin-top: $spacing-sm;
  }

  &__tag {
    font-size: $typography-sizes-small !important;
  }

  /* ------------- Desktop Layout ------------- */
  @media (min-width: $breakpoints-md) {
    &__body {
      flex-direction: row; /* LEFT + RIGHT */
      align-items: flex-start;
      gap: $spacing-xl;
    }

    &__header {
      flex: 1;
    }

    &__right {
      flex: 2;
    }
    &__description-list{
      display: block;
    }
  }
}
