@use "../../styles/_tokens.generated.scss" as *;

.section-header {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  margin-bottom: $spacing-md;

  align-items: center;
  text-align: center;

  &__eyebrow {
    font-size: $typography-sizes-small;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $colors-primary;
  }

  &__title {
    font-family: $typography-fonts-headline;
    font-size: $typography-sizes-h2;
  }

  &__subtitle {
    font-size: $typography-sizes-small;
    color: $colors-text;
    opacity: 0.9;
    max-width: 50rem;
  }

  @media (min-width: $breakpoints-md) {
    align-items: flex-start;
    text-align: left;
  }
}
